.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
}


.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.navlink {
  display: inline-block;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  color: #FFFAFA;
  text-align: center;
  text-decoration: none;
  background-color: #292828;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.navlink:hover {
  background-color: white;
  color: black;
}

body {
  color: white;
}

.details-page-container {
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.8));
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  position: relative;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  z-index: 1;
  text-align: center;
}

.details-page-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.8));
  z-index: -1;
  opacity: 0.8;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  padding-top: 20px;
}

.about-container {
  display: flex;
  justify-content: center;
}

.about {
  max-width: 800px;
  padding: 20px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin-top: 10px;
}

.details-rating {
  margin-top: 20px;
}

.details-page-container h1 {
  font-weight: bold;
  padding-top: 1rem;
  font-size: 60px;
}

.details-page-container h3,
.details-page-container h4 {
  font-weight: bold;
}
